<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <h1>University SQL Database</h1>
            </div>
            <div class="PageContent">

                <a href="/student_overview"> <button class="CategoryButton"> <%= translation.btn_student_info %> </button> </a>
                <button class="CategoryButton"><%= translation.btn_coursa_data %></button>
                <button class="CategoryButton"><%= translation.btn_exams %></button>

            </div>
        </div>
    </body>

</html>