<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>University SQL</title>
    
    <link rel="stylesheet" href="../../public/ui/variables.css" type="text/css">
    <link rel="stylesheet" href="../../ui/basics.css" type="text/css">
    <link rel="stylesheet" href="../../ui/header.css" type="text/css">
    <link rel="stylesheet" href="../../ui/body.css" type="text/css">
    <link rel="stylesheet" href="../../ui/container.css" type="text/css">
    <link rel="stylesheet" href="../../ui/buttons.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Nunito">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />

    <link rel="icon" href="/images/favicons/uni_hat_01.png" type="image/x-icon"> 
</head>