<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <div class="PageHeadContainer">
                    <h1>Manage Persons</h1>
                </div>
            </div>
            <div class="PageContent">
                

                <button class="StandardButton" id="go-back"><%= translation.nav_back %></button>
            <div>
        </div>
    </body>

</html>