<div>
    <a class="<%=(lang=="de"?"active":"")%>" href="/?clang=de"> <img class="CountryImage" src="../../public/images/icons/country_germany.png"> </a>
    <a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en"> <img class="CountryImage" src="../../public/images/icons/country_usa.png"> </a>    
</div>