<div class="PageFooter">
    <div class="PageFooterContainer">
        <div class="FlexBoxCenter">
            <a href="/imprint"> <p> <%= translation.imprint %> </p> </a>
        </div>
    </div>
</div>