<div class="PageHead">
    <div class="PageHeadContainer">
        <div class="FlexBoxCenter">
            <img loading="lazy" class="CategoryIconContainer" src="/public/images/icons/uni_hat_03.png" width="15%" height="15%" style="padding-right: 20px;">
            <a href="/home"><h2> <%=translation.app_title%> </h2></a>
        </div>
        
        <div>
            <button id="dark-mode-btn" class="StandardButton">DarkMode</button>
        </div>
        
        <div>
            <a class="<%=(lang=="de"?"active":"")%>" href="/?clang=de"> <img loading="lazy" class="CountryImage" src="../../public/images/icons/country_germany.png"> </a>
            <a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en"> <img loading="lazy" class="CountryImage" src="../../public/images/icons/country_usa.png"> </a>    
        </div>
    </div>
</div>