h1, h2, h3, h4, h5, h6 {
    color: var(--basic--fontcolor);
}

p {
    color: var(--basic--fontcolor);
}

a {
    color: var(--basic--fontcolor);
    position: relative;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 201, 236);
    border-radius: 4px;
}

label {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--basic--fontcolor);
}


table {
    font-size: medium;
    width:100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

th, td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}
