@media (max-width:1280px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    html, body {
        background-color: aliceblue;
        font-family: var(--global--font);
        display: flex;
        margin: 0;
        padding: 0px;
        flex-direction: column;
        /* background-size: 100%; */
        align-content: stretch;
        align-items: stretch;
        min-height: 100vh;
    }
    
    .spDiv {
        padding: 5px;
    }

    .dark-mode {
        background-color: rgb(68, 68, 68);
    }

    .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode p, .dark-mode label {
        color: var(--darkmode--fontcolor);
    }
}

@media (min-width:1281px) {
    html, body {
        background-color: aliceblue;
        font-family: var(--global--font);
        display: flex;
        margin: 0;
        padding: 0px;
        flex-direction: column;
        /* background-size: 100%; */
        align-content: stretch;
        align-items: stretch;
        min-height: 100vh;
    }
    
    .spDiv {
        padding: 5px;
    }

    .dark-mode {
        background-color: rgb(68, 68, 68);
    }

    .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode p, .dark-mode label {
        color: var(--darkmode--fontcolor);
    }
}