.MessageBoxAlert {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    position: fixed; 
    z-index: 1000;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -5%);
}

.MessageBoxWarn {
    color: #856404;
    background-color: #fff3cd;
    border: 2px solid #ffeeba;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    position: fixed; 
    z-index: 1000;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -5%);
}

.MessageBoxInfo {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 2px solid #bee5eb;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    position: fixed; 
    z-index: 1000;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -5%);
}

.MessageBoxSuccess {
    color: #155724;
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    position: fixed; 
    z-index: 1000;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -5%);
}

.FlexBox {
    display: flex;
}

.FlexBoxCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}