@media (max-width:1280px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .CategoryButton {
        border-radius: 30px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        background-color: rgb(255 255 255);
        margin: 10px;
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
        font-weight: bold;
        width: 13rem;
        height: 13rem;
        color: black;
        font-family: var(--global--font);
        transition: background-color 0.3s ease;
        line-break: anywhere;
    }
    
    .CategoryButton:hover {
        background-color: rgb(80, 79, 79);
        cursor: pointer;
        color: var(--basic--color);
    }

    .dark-mode .CategoryButton {
        border-radius: 30px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        background-color: rgb(41, 41, 41);
        margin: 10px;
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
        font-weight: bold;
        width: 13rem;
        height: 13rem;
        color: var(--basic--color);
        font-family: var(--global--font);
        transition: background-color 0.3s ease;
        line-break: anywhere;
    }

    .dark-mode .CategoryButton * {
        padding: 30px;
    }

    .dark-mode .CategoryButton:hover {
        background-color: rgb(15, 15, 15);
        cursor: pointer;
        color: var(--basic--color);
    }
    
    .StandardButton, .StandardButtonWide {
        border-radius: 10px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        padding: 10px;
        background-color: var(--basic--color);
        color: white;
        margin: 5px;
        font-size: medium;
        transition: background-color 0.3s ease;
    }
    
    .StandardButton:hover {
        background-color: rgb(80, 79, 79);
        color: white;
        cursor: pointer;
    }
}


@media (min-width:1281px) {
    .CategoryButton {
        border-radius: 30px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        background-color: rgb(255 255 255);
        margin: 10px;
        font-size: large;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
        /* font-weight: bold; */
        width: 300px;
        height: 300px;
        color: black;
        font-family: var(--global--font);
        transition: background-color 0.3s ease;
    }

    .CategoryButton:hover, .StandardButtonWide:hover {
        background-color: rgb(80, 79, 79);
        cursor: pointer;
        color: var(--basic--color);
    }

    .CategoryButton * {
        padding: 30px;
    }

    .dark-mode .CategoryButton {
        border-radius: 30px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        background-color: rgb(41, 41, 41);
        margin: 10px;
        font-size: large;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
        /* font-weight: bold; */
        width: 300px;
        height: 300px;
        color: var(--basic--color);
        font-family: var(--global--font);
        transition: background-color 0.3s ease;
    }

    .dark-mode .CategoryButton:hover {
        background-color: rgb(15, 15, 15);
        cursor: pointer;
        color: var(--basic--color);
    }

    .dark-mode .CategoryButton * {
        padding: 30px;
    }

    .StandardButton, .StandardButtonWide {
        border-radius: 10px;
        border-width: 0px;
        border-style: solid;
        border-color: var(--basic--color);
        box-shadow: 0px 0px 10px var(--basic--color);
        padding: 10px;
        background-color: var(--basic--color);
        color: white;
        margin: 5px;
        font-size: medium;
        transition: background-color 0.3s ease;
    }

    .StandardButton:hover, .StandardButtonWide:hover {
        background-color: rgb(80, 79, 79);
        color: white;
        cursor: pointer;
    }

    .StandardButtonWide {
        width: 100%;
    }
}