.CategoryContainer {
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
}

.CategoryButtonRow {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.CategoryLink {
    margin: 10px;
}

.CategoryIconContainer {
    max-width: 30%;
    max-height: 30%;
}
