.inputfield {
    padding: 5px 5px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--basic--color);
    box-shadow: 0px 0px 10px var(--basic--color);
    padding: 10px;
    background-color: var(--basic--color);
    margin: 5px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 255 255);
}

.inputfield[type="date"] {
    display: block;
}