.PageHead {
    background-color: var(--header--bgcolor);
    /*background: linear-gradient(145deg, var(--basic--color) 10%, white);*/
    box-shadow: 0px 0px 10px var(--basic--color);
    border-radius: 0;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 200;
}

.dark-mode .PageHead {
    background-color: var(--darkmode--bgcolor);
}

.PageHeadContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.PageHeadContainer h1,
.PageHeadContainer h2,
.PageHeadContainer h3 {
    color: var(--header--color);
}

.PageContent {
    padding: 5px;
    margin: 10px;
}

.CountryImage {
    width: 20%;
    height: 20%;
}

.CountryImage:hover {
    animation: rotateAnimation 0.3s 1 linear;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.PageFooter {
    background-color: var(--header--bgcolor);
    /*background: linear-gradient(145deg, var(--basic--color) 10%, white);*/
    box-shadow: 0px 0px 10px var(--basic--color);
    border-radius: 0;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 200;
}

.dark-mode .PageFooter {
    background-color: var(--darkmode--bgcolor);
}

.PageFooterContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}