:root {
    --global--font: Nunito; 
    --header-height: 5%;
    --footer-height: 5%;
    --basic--color: rgb(0, 201, 236);
    --basic--fontcolor: rgb(0, 0, 0);
    --color--msg--red: red;
    --color--msg--orange: orange;
    --color--msg--blue: blue;
    --color--msg--green: green;
}